* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primaryColor: darkcyan;
  --secondaryColor: gainsboro;
  --accentColor: mediumaquamarine;
  --hoverColor: teal;
  --white: snow;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--primaryColor);
}

main {
  padding: 1rem;
}

h1,
h2 {
  color: var(--white);
}

h3 {
  padding-bottom: 2rem;
  color: var(--primaryColor);
  font-size: 1.5rem;
}

button {
  width: 100%;
  background-color: var(--secondaryColor);
  border: none;
  padding: 1rem;
  margin-top: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primaryColor);
  cursor: pointer;
}

.btn {
  background-color: var(--accentColor);
  color: var(--white);
}

.btn-disabled {
  background-color: var(--accentColor);
  color: var(--white);
}

.btn-restart {
  background-color: var(--accentColor);
  color: var(--white);
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 1rem 0.5em;
  background-color: var(--white);
  color: var(--primaryColor);
}

.li-hover:hover {
  background-color: var(--white);
  columns: var(--hoverColor);
}

.li-selected {
  color: var(--white);
  background-color: var(--primaryColor);
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: var(--secondaryColor);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 0.5rem 0;
}
